/* Importa las directivas base de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales adicionales que puedas necesitar */
body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fafc; /* Un gris claro por defecto */
  color: #2d3748; /* Un gris oscuro para el texto */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Puedes añadir estilos personalizados para componentes aquí si es necesario,
   o crear clases de componentes con @layer components */
.main-container {
  @apply flex-grow; /* Asegura que el contenido principal ocupe el espacio disponible */
}
